:root {
    --talk-list-icon-size: 12px;
    --background-default: hsl(0, 0%, 89%);
    --dark-background-default: #303030af;
    --dark-color-default: white;
    --font-base-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family:"Pretendard_JP","Pretendard",-apple-system,BlinkMacSystemFont,"Hiragino Sans","Meiryo","MS PGothic",Dotum,sans-serif;
    position: absolute;
    top: 0;
    bottom: 1px;
    left: 0;
    right: 0;
    background-color: var(--background-default);
    overflow: hidden;
}

.title {
    font-weight: bolder;
    font-size: 0.9em;
    padding: 3px 8px;
}


.right-panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 25%;
}

.view-selector-panel {
    display: flex;
    padding-left: 8px;
    padding-top: 3px;
    height: 1.6em;
    background-color: var(--background-default);
}

.view-selector {
    font-size: 0.9em;
    padding: 3px 8px 0px 8px;
    border-width: 0;
    border-bottom: none;
    border-width: 1px;
    border-color: silver;
    background-color: lightgray;
}

.view-selector[selected="true"] {
    background-color: var(--background-default);
    color: black;
}

.dark-mode .view-selector[selected="true"] {
    background-color: var(--dark-background-default);
}

.search_panel {
    display: flex;
    font-size: 0.9em;
    padding: 3px 8px;
}

.search_field {
    display: inline-block;
    width: 80%;
    font-size: 0.9em;
    padding: 3px 8px;
    border-width: 1px;
    border-radius: 20px;
}

.search_button {
    display: inline-block;
    width: 20%;
    font-size: 0.9em;
    vertical-align: top;
    background-image: url('../assets/search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    border: none;
    background-color: var(--background-default);
}

.remove_history_button {
    display: inline-block;
    width: 20%;
    font-size: 0.9em;
    vertical-align: top;
    background-image: url('../assets/trash.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    border: none;
    background-color: var(--background-default);
}

div[component='bookmarkPanel'] {
    position: absolute;
    top: 0;
    height: 25vh;
    left: 0;
    right: 0;
}

.title.bookmarkPanel {
    height: 1.8em;
    vertical-align: middle;
    background-color: var(--background-default);
}

#bookmarks {
    overflow: auto;
    left: 0;
    right: 0;
    top: 2em;
    height: calc(25vh - 1.8em);
    background-color: var(--background-default);
}

.bookmark_button {
    display: inline-block;
    width: var(--talk-list-icon-size);
    height: var(--talk-list-icon-size);
    font-size: 0.9em;
    vertical-align: top;
    background-image: url('../assets/bookmark.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    border: none;
    margin: 1px 6px 1px 1px;
    vertical-align: middle;
}

.bookmark_garbage_button {
    display: inline-block;
    width: var(--talk-list-icon-size);
    height: var(--talk-list-icon-size);
    font-size: 0.9em;
    vertical-align: top;
    background-image: url('../assets/minus.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    border: none;
    margin: 1px 6px 1px 1px;
    vertical-align: middle;
}

.delete_button {
    display: inline-block;
    width: 18px;
    height: 18px;
    font-size: 0.9em;
    vertical-align: top;
    background-image: url('../assets/delete.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    border: none;
    margin: 1px 1px 1px 4px;
    vertical-align: middle;
}

.chat-history {
    display: block;
    font-size: 0.9em;
    padding: 3px 8px;
    border-width: 1px;
    border-radius: 3px;
}

div[component='historyPanel'] {
    position: absolute;
    top: 25vh;
    bottom: 0;
}

.title.history_panel {
    height: 1.8em;
    vertical-align: middle;
    background-color: var(--background-default);
}

.search_panel {
    height: 1.8em;
    vertical-align: middle;
    background-color: var(--background-default);
}

#talk_histories {
    overflow: auto;
    height: calc(75vh - 3.6em);
    background-color: var(--background-default);
}

.talk_history,
.bookmark {
    display: block;
    font-size: 0.9em;
    padding: 3px 8px;
}

.talk_history_item_title:hover {
    cursor: pointer;
    font-weight: bolder;
}

.left-panel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 25%;
    background-color: var(--background-default);
}

.center-panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 25%;
    bottom: 0;
}

.component.title-editor-panel {
    position: absolute;
    top: 1.6em;
    left: 0;
    right: 0;
    height: 2em;
    background-color: var(--background-default);
    padding: 3px 8px;
}


.inline-inputs {
    display: block;
    height: 1.55em;
}

.inline-input-label {
    display: inline-block;
    font-size: 0.8em;
    vertical-align: middle;
    text-align: center;
    padding: 0 0.5em;
    width: 14%;
    ;
}

.inline-input-field {
    display: inline-block;
    width: 75%;
    height: 100%;
    vertical-align: middle;
    padding: 0 0.5em;
    border-width: 1px;
}

.button-navigator-clip {
    display: inline-block;
    width: 24px;
    height: 100%;
    font-size: 0.9em;
    vertical-align: top;
    background-image: url('../assets/clip.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    border: none;
    background-color: var(--background-default);
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.button-use-web {
    display: inline-block;
    width: 24px;
    height: 100%;
    font-size: 0.9em;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    border: none;
    background-color: var(--background-default);
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

}

.button-use-web[status="selected"] {
    background-image: url('../assets/web.png');
}

.button-use-web[status="unselected"] {
    background-image: url('../assets/web_gray.png');
}


#query-title {
    border-radius: 20px;
}

.component.chat-panel {
    position: absolute;
    top: 3.6em;
    left: 0;
    right: 0;
    bottom: 20vh;
    visibility: hidden;
}

.component.markdown-view-panel {
    position: absolute;
    top: 3.6em;
    left: 0;
    right: 0;
    bottom: 20vh;
    background-color: white;
    overflow: auto;
    padding: 1.5em;
}

.component.markdown-view-panel * {
    margin-bottom: 0.5em;
}

.component.markdown-view-panel p {
    padding: 0 1em;
}


.component.markdown-view-panel pre {
    background-color: #f4f4f4;
    margin: 0.5em 2em;
    padding: 1em 1em;
    overflow: auto;
}

.component.markdown-view-panel ol {
    counter-reset: item;
    padding-left: 4em;
}

.component.markdown-view-panel ul {
    padding-left: 4em;
}

.component.query-panel {
    position: absolute;
    bottom: 0;
    height: 20vh;
    left: 0;
    right: 0;
}

#container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

#message-form {
    position: absolute;
    padding: 0 1% 2% 1%;
    height: 100%;
    width: 100%;
    vertical-align: top;
    background-color: var(--background-default);
}

#chat-options {
    display: block;
    height: 1.5em;
}

#chat-options label {
    font-size: 0.8em;
    vertical-align: middle;
}

#user-query {
    height: 90%;
    width: 90%;
    padding: 4px;
    border-radius: 6px;
}

#send-button {
    width: 8%;
    height: 2em;
    vertical-align: top;
    border-width: 1px;
    border-radius: 6px;
}

.dark-mode body {
    background-color: var(--dark-background-default);
    color: whitesmoke;
    border-color: black;
}