<div component="historyPanel">

    <div class="title history_panel">通信履歴</div>
    
    <div class="search_panel">
        <input type="text" class="search_field" id="search" placeholder="検索">
        <button class="search_button" id="search_button"></button>
    </div>
    
    <ul id="talk_histories">
        <li class="talk_history" list_id="1">ここに履歴が表示されます</li>
    </ul>

    <script>
        // メッセージ受信時の処理
        electron.receive('chat-history-reply', (message) => {
            // リストをクリア
            var talk_histories = document.getElementById('talk_histories');
            while (talk_histories.firstChild) {
                talk_histories.removeChild(talk_histories.firstChild);
            }
            // メッセージを追加
            for (var i = 0; i < message.length; i++) {
                var li = document.createElement('li');
                li.setAttribute('class', 'talk_history');
                li.textContent = message[i].title;
                li.setAttribute('list_id', message[i].id);
                talk_histories.appendChild(li);

                // 新たに作成された要素に対してclickイベントリスナーを追加
                li.addEventListener('click', function () {
                    var messageId = this.getAttribute('list_id');
                    electron.send('talk-history-clicked', messageId);
                });
            }
        });

        // 検索ボタンクリック時の処理
        document.getElementById('search_button').addEventListener('click', function () {
            var search = document.getElementById('search').value;
            electron.send('search-chat-history', search);
        });

        // search_fieldでEnterキーが押された時の処理
        document.getElementById('search').addEventListener('keypress', function (e) {
            if (e.key === 'Enter') {
                var search = document.getElementById('search').value;
                electron.send('search-chat-history', search);
            }
        });

    </script>
</div>