<form id="titleEditor">
    <div class="inline-inputs">
        <label for="title" class="inline-input-label" id="title-editor-label">タイトル:</label>
        <input type="text" class="inline-input-field" id="query-title" name="title" value="">
        <a class="button-navigator-clip" id="clip">CLIP</a>
        <a class="button-use-web" id="use-web" status="selected">SELECTED</a>
    </div>
</form>

<script>
    window.queryTitle = document.getElementById('query-title');

    // タイトル受信時の処理
    electron.receive('chat-title-reply', (title) => {
        if (window.queryTitle !== undefined) {
            window.queryTitle.value = title;
        }
    });

    // 会話履歴を受信したとき
    electron.receive('one-history-reply', (message) => {
        const title = message.title;
        window.queryTitle.value = title;
    });

    // ウェブ検索の有効無効を受信したとき
    electron.receive('use-web-reply', (status) => {
        if (status === 'selected') {
            document.getElementById('use-web').setAttribute('status', 'selected');
            document.getElementById('use-web').innerText = 'SELECT';
        } else {
            document.getElementById('use-web').setAttribute('status', 'unselected');
            document.getElementById('use-web').innerText = 'UNSELECT';
        }
    });

    // クリップボタンクリック時の処理
    document.getElementById('clip').addEventListener('click', () => {
        const title = window.queryTitle.value;
        electron.send('clip-response', null);
    });

    // クリップボタンクリック時の処理
    document.getElementById('use-web').addEventListener('click', () => {
        const title = window.queryTitle.value;
        let status = document.getElementById('use-web').getAttribute('status');
        if (status === 'selected') {
            document.getElementById('use-web').setAttribute('status', 'unselected');
            document.getElementById('use-web').innerText = 'UNSELECT';
            status = 'unselected';
        } else {
            document.getElementById('use-web').setAttribute('status', 'selected');
            document.getElementById('use-web').innerText = 'SELECT';
            status = 'selected';
        }
        electron.send('use-web', status);
    });
</script>